.progress-bar {
    background-color: #ff8854;
}

.purchase-steps .progress {
    height: 4px;
}

.purchase-step-div {
    margin-top: -30px;
}

.purchase-step {
    height: 55px;
    width: 55px;
}

.border-gray {
    border: 2px solid lightgray;
}

.btn-program {
    background-color: white;
    color: #ff8854;
    border: 2px solid #ff8854;
    text-decoration: none;
    border-radius: 12px;
    cursor: pointer;
    width: 120px;
    height: 40px;
    text-align: center;
}

.btn-program:hover, .btn-program:active {
    background-color: #ff8854;
    color: white;
}

.btn-program-checked {
    background-color: #ff8854;
    color: white;
    border: 2px solid #ff8854;
    text-decoration: none;
    border-radius: 12px;
    width: 120px;
    height: 40px;
    text-align: center;
}

.purchase-method {
    border: 1px solid white;
    outline: 1px solid lightgray;
}

.purchase-method-active {
    border: 1px solid #ff8854;
    outline: 1px solid #ff8854;
}

.purchase-method:hover {
    border-color: #ff8854;
    outline-color: #ff8854;
}

.purchase-method img, .purchase-method-active img {
    height: 24px;
}

.btn-check-orange {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff8854;
    border-radius: 25%;
    background-color: white;
    color: #ff8854;
    cursor: pointer;
}

.btn-check:checked+.btn-check-orange {
    background-color: #ff8854;
    color: white;
}

@media (max-width: 480px) {
    body {
        font-size: small;
    }

    .fs-3 {
        font-size: 1.25rem!important;
    }

    h4, .fs-4 {
        font-size: 1rem!important;
    }

    h5, .fs-5 {
        font-size: 1rem!important;
    }

    small, .small {
        font-size: x-small;
    }

    .purchase-steps .progress {
        height: 3px;
    }

    .purchase-step-div {
        margin-top: -22px;
    }

    .purchase-step {
        height: 40px;
        width: 40px;
    }

    .btn-program {
        height: 36px;
    }

    .btn-program-checked {
        height: 36px;
    }

    .btn, form button {
        font-size: small;
    }

    .purchase-method img, .purchase-method-active img {
        height: 16px;
    }
}
