  /* Profil */
  
  #profil {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  .profil-image {
    width: 100%;
    max-width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 12px;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 4, 4, 0.3);
    display: flex;
    margin-top: 100px;
  }
  
  .logo-goals-photo {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: auto;
  }
  
  .text-profile {
    width: 100%;
    max-width: 900px;
    letter-spacing: 0.5px;
    font-size: 18px;
    padding: 1px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    color: #f2f2f2;
    margin-bottom: 30px;
  }
  
  .text-center h1 {
    padding-top: 40px;
    padding-bottom: 25px;
    color: #f2f2f2;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 1.5px;
    letter-spacing: 2px;
    margin-top: 50px;
  }
  
  .text-center h3 {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: lighter;
  }
  
  /* Profil Tutor */
  
  #profil-tutor {
    margin-bottom: 30px;
  }
  
  .lecturer-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
  }
  
  .lecturer-card {
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 519px;
    background: #fff;
    border-radius: 24px;
    margin: 0 15px 20px;
    box-shadow: 0 4px 30px 0 rgba(95, 95, 95, 0.25);
  }
  
  #yor1 {
    background: url("./assets/images/lecturer/yor.png") no-repeat;
    background-size: cover;
  }
  
  #rian1 {
    background: url("./assets/images/lecturer/rian.png") no-repeat;
    background-size: cover;
  }
  
  #pica1 {
    background: url("./assets/images/lecturer/pica.png") no-repeat;
    background-size: cover;
  }
  #timo1 {
    background: url("./assets/images/lecturer/timo.png") no-repeat;
    background-size: cover;
  }
  
  .lecturer-card .card-image {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 24px 24px 0 0;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .lecturer-card .image img {
    position: absolute;
    bottom: -5px;
    width: 100%;
  }
  
  .lecturer-card .card-text {
    text-align: center;
    padding: 16px;
    margin-bottom: 15px;
  }
  
  .lecturer-card .lecturer-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
  }
  
  .lecturer-card span,
  .lecturer-card li {
    color: #363434;
    font-size: 10px;
  }
  
  .card-text li {
    text-align: center;
  }
  
  .card-text ul {
    list-style-image: url("./assets/icons/bronze-medal-icon.svg");
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 0px;
  }
  
  ol,
  ul {
    padding-left: 0px;
  }
  
  .lecturer-card .description {
    font-size: 12px;
    font-weight: 200;
    margin: 0px 0;
  }
  
  hr {
    border-top: 1.5px solid rgb(0, 0, 0, 1);
    z-index: 1;
  }
    
  @media (max-width: 768px) {
    .logo-goals-photo {
      width: 300px;
      padding: 50px;
    }
    .text-center h1 {
      font-size: 25px;
    }
  
    .profil-image {
      height: auto;
      margin-top: 80px;
    }
  
    .lecturer-card-wrapper {
      width: fit-content;
    }
  
    .text-profile p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 475px) {
    .text-center h1 {
      margin: 50px 25px 0px 25px;
    }
  
    .lecturer-card {
      width: 190px;
      height: 350px;
      margin: 0 5px 10px;
    }
  
    .profil-image {
      max-height: auto;
    }
  
    .lecturer-card .lecturer-name {
      font-size: 12px;
    }
  
    .lecturer-card span,
    .lecturer-card li {
      font-size: 8px;
    }
  
    .lecturer-card .card-text {
      padding: 12px;
    }
  }
  
  @media (max-width: 400px) {
    .lecturer-card {
      width: 180px;
      height: 350px;
      margin: 0 5px 10px;
    }
  }
  