* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

form button {
    margin-top: 20px;
    background-color: #ff8854;
    font-size: 16px;
    color: #ffff;
    border-radius: 10px;
    border: none;
    width: 180px;
    height: 40px;
    z-index: 1;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

button:hover {
    background-color: #df6a39;
}

#lupa-password {
    background-color: #ff8854;
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
}

.content {
    height: 100vh;
}

#lupa-password .card {
    width: 50%;
    height: 50%;
    border-radius: 15px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.35);
    color: #363434;
}

#lupa-password h1 {
    font-size: 19px;
}

#lupa-password .text-masukkanpassword {
    font-size: 15px;
    margin-bottom: 0px;
}

#lupa-password form {
    padding: 15px 0 20px 0;
}

#lupa-password form .form-group {
    padding: 10px 0 10px 0;
    font-size: 10px;
}

#lupa-password form .input-group input {
    width: 300px;
    border: 2px solid #959595;
    border-radius: 10px;
}

#lupa-password .lupa-password-button {
    background-color: #ff8854;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.35);
    border: none;
    color: #ffff;
    border-radius: 10px;
    letter-spacing: 1px;
}

@media (max-width: 475px) {
    #lupa-password .card {
        width: 350px;
        height: 288px;
    }

    #lupa-password h1 {
        font-size: 16px;
    }

    #lupa-password form {
        padding: 5px 0 20px 0;
    }

    #lupa-password form .input-group input {
        width: 250px;
        height: 35px;
        border: 2px solid #959595;
        border-radius: 10px;
    }

    #lupa-password form .form-group {
        padding: 10px 0 10px 0;
        font-size: 8px;
    }

    #lupa-password .lupa-password-button {
        font-size: 16px;
    }
}
