* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.style-nav-footer-body {
    background-image: url("../image/assets/images/background-blue-white.svg");
    background-position: 50%;
    background-size: cover;
    background-color: #fff;
}

/* Navbar */
.navbar {
    background-color: #ffff;
    background-size: cover;
    z-index: 3;
    box-shadow: 0 2px 4px rgba(0, 4, 4, 0.5);
}

.navbar-toggler {
    border: none;
    width: 100px;
}

.navbar-toggler:focus {
    box-shadow: unset;
}

.navbar-button {
    width: 100px;
}

.navbar-button .fa-lg {
    font-size: 1.5em;
    line-height: unset;
}

.navbar-collapse {
    flex-grow: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    right: 0;
    left: auto;
}

.dropdown-menu-end[data-bs-popper] {
    margin: 0;
}

.dropdown-menu {
    background-color: #ffff;
}

.dropdown-item:hover {
    background-color: unset;
}

.btn-login {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

#notification .dropdown-menu {
    width: 250px;
    min-height: 250px;
}

#notification-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    min-height: 250px;
}

#notification .list-footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Footer */
footer {
    width: 100%;
    background: #00225b;
    padding: 57px 50px;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: space-between;
}

.footer-container .footer-logo {
    margin-bottom: 24px;
}

.footer-left-content {
    flex: 0.25;
}

.footer-left-content p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 14px;
}

.footer-left-content p:nth-of-type(1) {
    margin-bottom: 20px;
}

.footer-right-content {
    flex: 0.7;
    max-width: 100%;
}

.footer-right-top-content,
.footer-right-bottom-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: space-between;
}

.footer-right-top-content .product {
    padding-top: 20px;
}

.footer-right-content .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 21px;
}

.footer-right-content ul {
    list-style: none;
}

.footer-right-content li {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 9px;
}

.footer-right-content a {
    text-decoration: none;
    color: #fff;
}

.footer-right-bottom-content p,
.footer-right-bottom-content li {
    font-size: 14px;
    font-weight: bold;
}

.footer-right-bottom-content {
    padding-left: 40px;
}

.footer-right-bottom-content li {
    display: flex;
    align-items: center;
}

.footer-right-bottom-content ul img {
    margin-right: 8px;
}

.footer-right-bottom-content .social-media {
    display: flex;
}

.footer-right-bottom-content .social-media a {
    text-decoration: none;
    margin: 0 6px;
}

.footer-center-content {
    display: none;
}

@media (max-width: 985px) {
    #navbar-full {
        margin-left: auto;
        margin-right: auto;
        max-width: 985px;
    }

    .navbar-button .fa-lg {
        font-size: 1.8em;
    }

    .footer-right-content > p:nth-last-of-type(1) {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #navbar-full {
        margin-left: auto;
    }

    .footer-container {
        display: block;
    }

    .footer-container .footer-logo {
        width: 250px;
        height: auto;
    }
    .footer-left-content {
        text-align: center;
        align-items: center;
    }

    .footer-left-content p:nth-of-type(1) {
        margin-bottom: 10px;
    }

    #alamat {
        font-weight: normal;
    }

    .footer-left-content .title {
        display: none;
    }
    .footer-right-bottom-content {
        padding-left: 0;
    }

    .footer-right-bottom-content .contact {
        margin-top: 20px;
    }

    .footer-center-content {
        display: block;
        background-color: #9fd0fb;
        text-align: center;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .navbar-toggler, .navbar-button {
        width: 60px;
    }

    .navbar-brand img {
        width: 150px;
    }

    .navbar-button .fa-lg {
        font-size: 1.5em;
    }

    .btn-login {
        font-size: x-small;
    }
}
