/* Karir */

hr {
  width: 280px;
  color: rgba(0, 4, 4, 1);
}

.karir-input input {
  border: none;
  max-width: 350px;
  height: 45px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  align-items: flex-start;
  justify-content: right;
  padding: 10px;
  font-size: 15px;
  margin-left: 32px;
  box-shadow: 0 2px 4px rgba(0, 4, 4, 0.5);
}

.photo-karir {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.photo-karir img {
  width: 780px;
  height: 150px;
  margin: 0 auto;
  display: block;
}

.photo-karir-mobile {
  display: none;
}

.text-karir h1 {
  text-align: center;
  color: #4f3f85;
  font-weight: bold;
  font-size: clamp(20px, 25px, 38px);
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

.text-karir p {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1.5px;
}

.karir-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.karir-card {
  width: 100%;
  height: 396px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 30px;
  margin: 22px;
  box-shadow: 0 2px 4px rgba(0, 4, 4, 0.5);
}

.top-karir {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -20px;
}

#tanggal {
  font-size: 9px;
  text-align: right;
  color: #807d7d;
  font-style: italic;
}

.text-top-karir {
  padding-top: 12px;
}

.text-bottom-karir ul {
  margin-top: -10px;
  font-size: 11px;
  height: 147px;
}

.text-bottom-karir li {
  padding: 6px;
}

@media (max-width: 512px) {
  .text-karir p {
    display: none;
  }

  .photo-karir {
    display: none;
  }

  .karir-input input {
    margin-left: 0px;
  }

  .photo-karir-mobile {
    display: block;
    margin: 10px 50px 20px 50px;
  }

  .text-center h1 {
    font-size: 15px;
  }

  .karir-input {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }
}

/* New Karir CSS */

#karir-list .card.col-11 {
    width: 95%;
}
